@impor-t url(https://fonts.googleapis.com/css?family=Dosis:300,400);
body{
	direction: ltr;
    background--color: #f2e6e2;;
    font-family: droid arabic kufi,tahoma,verdana,Arial;
	backgr-ound: url(../images/bk1.png) fixed;
    backgr-ound: -webkit-linear-gradient(#5665AE, #1d1d1d);

    backgrou-nd: url(https://image.slidesharecdn.com/random-131009032238-phpapp02/95/-60-638.jpg?cb=1381289451) no-repeat fixed;
    background: url("../images/bg.png") repeat-x top;
  	/*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background--size: cover;*/
  	background--size: 100% 100%;

    font--family: 'Dosis', sans-serif;
}
html{
	height: 100%;
}
.navbar{
	margin-bottom: 0px;
}
.navbar-nav > li{
    float:left !important; /*LANG*/
    background--color: #c1272d;
	margi-n: 0 2px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #ff6c40 !important;
    background-color: #c1272d !important;
    border-radius: 1px;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #BA0C2F;
    color: #fff !important;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.navbar-nav > li:hover{
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.dropdown-menu> li{
    border-bottom: 1px solid #eee;
    padding:6px 0px;
}
.dropdown-menu> li:last-child{
    border-bottom: 0;
}
.dropdown-menu> li a{
    paddi-ng: 3px 10px !important;
    color:#fff;
}
.navbar-nav > li > .dropdown-menu{
    background-color: #224668;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
    background-color: #BA0C2F;
}
.dropdown-menu> li a:hover, .dropdown-menu> li a:focus, .dropdown-menu> li:hover{
    padd-ing:6px 25px;
    padding-left: 15px;
    background-color: #BA0C2F;
    color:#fff;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.dropdown-menu> li{
    border-bottom: 1px solid #eee;
}
.dropdown-menu> li:last-child{
    border-bottom: 0;
}
.dropdown-menu> li a{
    padding: 3px 10px !important;
}
/*start header*/
.header{
	height: 150px;
	background: #ddd;
    posit-ion: relative;
}
.header .header-h>h3{
    position: absolute;
    top: 50px;
    right: 260px;
}
.header img{
	width: 120px;
    position: absolute;
    top: 14px;
    left: 70px;
    z-index: 9999;
}
.header .header-title{
    position: absolute;
    left: 220px;
    top: 40px;
    color: #1e4e54;
}
.header h3, .header h5{
	color: #1e4e54;
    font-weight: bold;
    text-align: center;
    paddi-ng: 16px 0;
    margin-top:0;
}
.header-h ul{
	padding:30px;
}
.header-h ul a{
	color:#555;
	text-decoration: none !important;
}
.header-top{
	background-color: #224668;
	height: 30px;
}
.header-top .list-inline{
    padding: 0 20px;
}
.header-top a{
	color:#fff;
	text-decoration: none;
    font-size:12px;
}
.header-top a:hover, .header-top a:focus{
    color:#eee;
    text-decoration: none;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
a.site--login:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
.header-top .social-media{
    padding: 4px 20px;
}
.header-top .social-media i{
    color:#fff;
    padding:0 3px;
}
.header-top .social-media a:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}
/*end header*/

/*start navbar*/
.navbar-inverse {
    background-color: #224668;
    border-color: #224668;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ccc !important;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff !important;
	background-color: #BA0C2F  !important;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #bbbbbb !important;
		background-color: transparent;
}
/*end navbar*/

/*start slider*/

.camera_pag{
    position: absolute;
    top: 350px;
    left: 530px;
}
#camera_wrap_1{
    margin-bottom: 30px !important;
    padding-top:0 !important;
}
.camera_wrap .camera_pag .camera_pag_ul li {
    background: #fff !important;
}
/*end slider*/

/*start home content*/
.bo-dy-top{
	border-top: 3px solid #c1272d;
}
.panel-default > .panel-heading{
	background-color: #555 !important;
	color:#fff !important;
}
.btn-default {
    color: #fff;
    background-color: #df4167;
    border-color: #df4167;
}
.home-panel h5 a{
	color: #555;
	text-decoration: none;
}
.home-panel p{
	color:#555;
}
/*end home content*/

/**start login-page**/
.login-page, .register-page{
    margin: 40px 0;
}
.login-page h1, .register-page h1{
    background-color: #224668;
    padding: 5px;
    color: #fff;
    margin: 0;
}
/**end login-page**/

/*start single post */
.single-box{
    padding: 10px;
    border:1px solid #ddd;
    margin:20px 0;
}
/*end single post*/

/*start register-page*/
.register-page lable{
    text-align: right !immportant;
}
/*end register-page*/

/*start category-page*/
.category-page .single-sidebar{
    margin: 20px 0;
}
.cat-content{
    padding: 10px;
    border: 1px solid #fff;
    box-shadow: 0px 1px 3px 1px #ddd;
    margin: 20px 0;
}
.cat-content .media-heading{
    padding:10px;
    color:#c1272d;
}
.cat-content .cat-content-body {
    padding:10px;
    font-size:13px
}
.cat-content .uderline:last-child{display:none}
/*end category-page*/

/*start single post */
.single .single-box{
    padding: 10px;
    border:1px solid #fff;
    box-shadow: 0px 2px 3px 1px #ddd;
    margin:20px 0;
}
.single-content{overflow: hidden;}
.single .single-content p{
    text-align: justify;
}
.single-content .bar-data span{
    padding:0 5px;
}
.single-content .bar-data span i{
    padding:0 5px;
}
.single .single-sidebar{
    padd-ing: 10px;
    bor-der:1px solid #ddd;
    margin:20px 0;
    min--height: 500px;
}
.single-content p img{
    width:100% !important;
    height:100% !important;
}
.single-cat{
    bord-er:1px solid #fff;
    box--shadow: 0px 2px 3px 1px #ddd;
    min-height: 200px;
    margin-bottom: 20px;
}
.single-sidebar .single-cat h4{
    background-color: #ba0c2f;
    color:#fff;
    padding: 10px;
    margin: 0
}
.single-cat ul{
    margin-top:10px;
    padding:0;
}
.single-cat li a{
    text-decoration: none;
}
.uderline{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    }
.related-post{display: flow-root;}
.related-post-heading{
    background-color: #ddd;
    padding: 10px;
    margin: 20px 0;
}

.related-post-item .related-title{
    color: #fff;
    padding: 10px 5px;
    font-size: 14px;
    background-color: #224668;
    margin: 0;
    height: 50px;
}

figure {
	overflow: hidden;
}
 .related-post-item figure img{
    width: 100%;
    height: 100px;
}
.related-post-item figure img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.related-post-item figure:hover img{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


/*end single post*/

/*start posts dashboard*/
.post-dashboard{}
.post-dashboard .post-heading{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #555;
    color:#fff;
    padding: 10px;
}
/*end posts dashboard*/

/*start contact page*/

..contact-us{
    margin:30px 10px;
}
.contact-us h1{
    margin-bottom: 40px;
}
.contact-us .panel-body{
    background-color: #eee;
    font-weight: bold;
    color: #224668;
    line-height: 40px;
}
.contact-form {
    max-width: 450px;
    margin: 0px auto
}

.contact-form .form-group {
    margin-bottom: 0;
    position: relative
}

.contact-form input {
    padding-left: 32px
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 8px
}

.contact-form textarea {
    height: 180px !important
}

.contact-form input:not([type='submit']) + i {
    height: 0;
    float: left;
    position: relative;
    top: -32px;
    left: 10px;
    color: #999;
}

.contact-form .asterisx {
    height: 0;
    font-size: 22px;
    color: #b90d0d;
    position: absolute;
    right: 10px;
    top: 6px;
}

.contact-form .send-icon {
    display: block;
    position: relative;
    top: -32px;
    left: 7px;
    color: #FFF;
}

.contact-form .custom-alert {
    padding: 5px 10px;
    display: none
}
/*end contact page*/

/*start footer*/
.footer{
	background-color: #224668 !important;
	padding: 10px 0;
	color: #fff;
    height: 80px;
    line-height: 70px;
}
.footer .footer-list li{
    width: 80px;
    max-width: 100%;
}
.footer .footer-list a{
    color:#fff;
    text-decoration: none;
}
.footer .footer-list a:hover , .footer-list a:focus{
    font-weight: bold;
    col-or:#ab1323;
    color:#fff;
}
/*end footer*/

/*start category in dashboard*/
.cat-dashboard .just-padding {
  padding: 15px;
}

.cat-dashboard .list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.cat-dashboard .list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.cat-dashboard .list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;

}

.cat-dashboard .list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.cat-dashboard .list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.cat-dashboard .list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.cat-dashboard .list-group-item .glyphicon {
  margin-right: 5px;
}
/*end category in dashboard*/
